<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.data.mapper.DataViewMapper">

    <select id="getDsTableInfos" resultType="com.alibaba.fastjson.JSONObject">
		select org.ORG_NAME org_name,a.table_schema,a.table_name ,a.table_comment,org.CD_HB_SOURCE
		from information_schema.tables a
		left join test.t_org_code org on a.TABLE_SCHEMA = org.database_name
		where a.table_schema like 'ds\_%' and a.TABLE_NAME != 'zlxt_error_msg' and a.TABLE_NAME not like '%\_copy'
	</select>

    <select id="getSzTableInfos" resultType="com.alibaba.fastjson.JSONObject">
		select org.ORG_NAME org_name,a.table_schema,a.table_name ,a.table_comment,org.CD_HB_SOURCE
		from information_schema.tables a
		left join test.t_org_code org on a.TABLE_SCHEMA = org.database_name
		where a.table_schema like 'jg\_%' and a.TABLE_NAME != 'zlxt_error_msg' and a.TABLE_NAME not like '%\_copy'
		and a.TABLE_SCHEMA != 'jg_fgw_xyhb' and a.TABLE_NAME not like '%\_20%' and a.TABLE_NAME not like '%\_old'
		and a.TABLE_SCHEMA != 'jg_xfk' and a.table_comment != 'VIEW'
		and a.table_name not in('item_change','jg_ry','jg_jzgd','shijian_tyshxydm') ORDER BY  org.`ID`
	</select>

    <select id="getJCTableInfos" resultType="com.alibaba.fastjson.JSONObject">
		select a.table_schema,a.table_name ,a.table_comment
		from information_schema.tables a
		where a.table_schema = 'hbjg_jc_all'
		and a.TABLE_NAME != 'dn_data_reconciliation' and a.TABLE_NAME != 'up_data_reconciliation'
		and a.TABLE_NAME != 't_org_code' and a.TABLE_NAME != 'table_jgsx'
	</select>

    <!--<select id="getZLData" resultType="com.alibaba.fastjson.JSONObject">
        select A.CD_HB_SOURCE,
        A.zlCount,B.zqCount, CASE WHEN B.zqCount>0 THEN A.zlCount-B.zqCount ELSE A.zlCount END cwCount
        FROM
         (SELECT COUNT(*) zlCount,CD_HB_SOURCE FROM  `hbjg_hj_all`.${table_name} GROUP BY CD_HB_SOURCE)A LEFT JOIN
         (SELECT COUNT(*) zqCount,CD_HB_SOURCE FROM `hbjg_jc_all`.${table_name} GROUP BY CD_HB_SOURCE)B
        ON  A.CD_HB_SOURCE = B.CD_HB_SOURCE
    </select>-->

    <select id="getBZData" resultType="com.alibaba.fastjson.JSONObject">
		SELECT COUNT(*) zlCount,CD_HB_SOURCE FROM  `hbjg_hj_all`.${table_name} GROUP BY CD_HB_SOURCE
	</select>

    <select id="getZQData" resultType="com.alibaba.fastjson.JSONObject">
		SELECT COUNT(*) zqCount,CD_HB_SOURCE FROM `hbjg_jc_all`.${table_name} GROUP BY CD_HB_SOURCE
	</select>



    <select id="getQZTableData" resultType="java.lang.Long">
		SELECT COUNT(*) qzCount FROM  ${table_schema}.${table_name}
	</select>

    <select id="getHjTableData" resultType="java.lang.Long">
		SELECT COUNT(*) qzCount FROM  ${table_name} where CD_HB_SOURCE = #{CD_HB_SOURCE}
	</select>

    <select id="getSourceName" resultType="com.alibaba.fastjson.JSONObject">
		SELECT * FROM  test.t_org_code order by id
	</select>

    <select id="accountQzColumnsRequired" resultType="com.alibaba.fastjson.JSONObject">
		<![CDATA[
			select org.ORG_NAME,t.TABLE_SCHEMA,t.TABLE_NAME,c.COLUMN_NAME
             from (
                      select b.TABLE_SCHEMA,b.TABLE_NAME, count(1) num
                      from information_schema.columns b
                      where (b.TABLE_SCHEMA like 'ds\_%' or b.TABLE_SCHEMA like 'jg\_%')
                        and b.column_name in
                            ('CD_ID', 'CD_TIME', 'CD_SOURCE', 'CD_OPERATION', 'DATA_UP_TIME', 'DATA_UP_STATUS',
                             'DATA_UP_UUID')
                      group by b.TABLE_SCHEMA,b.TABLE_NAME) t
			 	 left join information_schema.columns c on t.TABLE_SCHEMA = c.TABLE_SCHEMA and t.TABLE_NAME = c.TABLE_NAME
			 	 left join test.t_org_code org on t.TABLE_SCHEMA = org.database_name
				 where t.num < 7 and t.TABLE_NAME != 'zlxt_error_msg' and c.COLUMN_NAME in('CD_ID', 'CD_TIME', 'CD_SOURCE', 'CD_OPERATION', 'DATA_UP_TIME', 'DATA_UP_STATUS', 'DATA_UP_UUID')
				 and t.TABLE_NAME not like '%\_copy' and t.TABLE_SCHEMA != 'jg_fgw_xyhb' and t.TABLE_SCHEMA != 'jg_xfk'
				 order by c.TABLE_SCHEMA,c.TABLE_NAME
		]]>
	</select>

    <select id="getQzColumnsError" resultType="com.alibaba.fastjson.JSONObject">
		<![CDATA[
			select org.org_name,tt.*,
			case when qz_field_long > bz_field_long and qz_field_type != bz_field_type then '字段长度设置过长、字段类型不符合要求'
			when qz_field_long > bz_field_long  then '字段长度设置过长'
			when  qz_field_type != bz_field_type then '字段类型不符合要求' end czwt
			from (
			select aa.km,aa.bm,aa.zs,aa.zdmc,aa.zdcd as qz_field_long,bb.zdcd bz_field_long,aa.zdlx qz_field_type,bb.zdlx bz_field_type from (
			select a.table_schema as km,a.table_name as bm,'' zs,a.column_name zdmc,a.data_type zdlx,a.CHARACTER_MAXIMUM_LENGTH zdcd
			from information_schema.columns a where (a.table_schema like 'jg\_%' or a.table_schema like 'ds\_%')
			) aa left join (
			select b.table_schema as km,b.table_name as bm,'' zs,b.column_name zdmc,b.data_type zdlx,b.CHARACTER_MAXIMUM_LENGTH zdcd
			from information_schema.columns b where b.table_schema = 'jggbtest') bb on lower(aa.bm) = lower(bb.bm) and lower(aa.zdmc) = lower(bb.zdmc)
			where bb.bm is not null and ((aa.zdlx != bb.zdlx and aa.zdcd > bb.zdcd) or aa.zdcd > bb.zdcd)
			order by aa.km,bb.bm ) tt
			left join test.t_org_code org on tt.km = org.database_name
		]]>
	</select>

    <select id="getDataByCity" resultType="java.lang.Long" parameterType="java.util.List">
        select sum(t.num) num from
        <foreach item="item" index="index" collection="list" separator="union all" open="(" close=")t">
            select count(1) num from ${item.databaseName}.${item.tableName}
        </foreach>
    </select>

    <!--<select id="getDataByHJ" resultType="com.alibaba.fastjson.JSONObject" parameterType="java.util.List">
        select sum(t.zlCount) zlCount,sum(t.zqCount) zqCount,sum(t.cwCount) cwCount from
        <foreach item="item" index="index" collection="list" separator="union all" open="(" close=")t">
            select
            A.zlCount,B.zqCount, CASE WHEN B.zqCount>0 THEN A.zlCount-B.zqCount ELSE A.zlCount END cwCount
            FROM
            (SELECT COUNT(*) zlCount,CD_HB_SOURCE FROM  `hbjg_hj_all`.${item.tableName} where CD_HB_SOURCE = #{item.cdHbSource})A LEFT JOIN
            (SELECT COUNT(*) zqCount,CD_HB_SOURCE FROM `hbjg_jc_all`.${item.tableName} where CD_HB_SOURCE = #{item.cdHbSource})B
            ON  A.CD_HB_SOURCE = B.CD_HB_SOURCE
        </foreach>
    </select>-->

    <select id="getDataByHJ" resultType="com.alibaba.fastjson.JSONObject" parameterType="java.util.List">
        select sum(t.zlCount) zlCount from
        <foreach item="item" index="index" collection="list" separator="union all" open="(" close=")t">
            SELECT COUNT(*) zlCount FROM  `hbjg_hj_all`.${item.tableName} where CD_HB_SOURCE = #{item.cdHbSource}
        </foreach>
    </select>

    <select id="getDataByJC" resultType="com.alibaba.fastjson.JSONObject" parameterType="java.util.List">
        select sum(t.zqCount) zqCount from
        <foreach item="item" index="index" collection="list" separator="union all" open="(" close=")t">
            SELECT COUNT(*) zqCount FROM `hbjg_jc_all`.${item.tableName} where CD_HB_SOURCE = #{item.cdHbSource}
        </foreach>
    </select>


    <select id="getDsGjsxTableInfos" resultType="com.alibaba.fastjson.JSONObject">
		select a.table_schema,a.table_name ,a.table_comment
		from information_schema.tables a
		where a.table_schema = #{value} and a.table_name
		in ('jg_jgxw_check_action','jg_jgxw_punish_action','jg_jgxw_force_action','jg_jgxw_other_action')
	</select>

    <select id="getExistingItem" resultType="com.alibaba.fastjson.JSONObject">
		select aa.ORG_NAME, tt.SUPERVISE_ITEM_CODE, tt.MATTER_NAME, tt.DEPARTMENT_NAME, tt.num
	from (
			 select a.SUPERVISE_ITEM_CODE, b.DEPARTMENT_NAME, b.MATTER_NAME, a.num, b.DEPARTMENT_ID, a.CD_HB_SOURCE
			 from (
					  select count(1)                               num,
							 SUPERVISE_ITEM_IMPLEMENT_CODE          SUPERVISE_ITEM_CODE,
							 left(SUPERVISE_ITEM_IMPLEMENT_CODE, 8) code,
							 CD_HB_SOURCE
					  from jg_jgxw_check_action
					  group by code, CD_HB_SOURCE) a
					  left join jg_jgsx_publish_directory b on a.code = b.MATTER_CODE
			 where b.MATTER_NAME is not null
			 union all
			 select a.SUPERVISE_ITEM_CODE, b.DEPARTMENT_NAME, b.MATTER_NAME, a.num, b.DEPARTMENT_ID, a.CD_HB_SOURCE
			 from (select count(1)                     num,
						  SUPERVISE_ITEM_CODE,
						  left(SUPERVISE_ITEM_CODE, 8) code,
						  CD_HB_SOURCE
				   from jg_jgxw_force_action
				   group by code, CD_HB_SOURCE) a
					  left join jg_jgsx_publish_directory b on a.code = b.MATTER_CODE
			 where b.MATTER_NAME is not null
			 union all
			 select a.SUPERVISE_ITEM_CODE, b.DEPARTMENT_NAME, b.MATTER_NAME, a.num, b.DEPARTMENT_ID, a.CD_HB_SOURCE
			 from (select count(1)                     num,
						  SUPERVISE_ITEM_CODE,
						  left(SUPERVISE_ITEM_CODE, 8) code,
						  CD_HB_SOURCE
				   from jg_jgxw_other_action
				   group by code, CD_HB_SOURCE) a
					  left join jg_jgsx_publish_directory b on a.code = b.MATTER_CODE
			 where b.MATTER_NAME is not null
			 union all
			 select a.SUPERVISE_ITEM_CODE, b.DEPARTMENT_NAME, b.MATTER_NAME, a.num, b.DEPARTMENT_ID, a.CD_HB_SOURCE
			 from (select count(1)                     num,
						  SUPERVISE_ITEM_CODE,
						  left(SUPERVISE_ITEM_CODE, 8) code,
						  CD_HB_SOURCE
				   from jg_jgxw_punish_action
				   group by code, CD_HB_SOURCE) a
					  left join jg_jgsx_publish_directory b on a.code = b.MATTER_CODE
			 where b.MATTER_NAME is not null) tt
			 left join t_org_code aa on tt.CD_HB_SOURCE = aa.CD_HB_SOURCE
	</select>

    <select id="getNotExistingItem" resultType="com.alibaba.fastjson.JSONObject">
		select *
			from (
					 select a.name, a.bm, a.sx, a.org_name orgname
					 from table_jgsx a
							  left join
						  (
							  select tt.*, aa.ORG_NAME
							  from (
									   select a.SUPERVISE_ITEM_CODE,
											  b.DEPARTMENT_NAME,
											  b.MATTER_NAME,
											  a.num,
											  b.DEPARTMENT_ID,
											  a.CD_HB_SOURCE,
											  a.code
									   from (
												select count(1)                               num,
													   SUPERVISE_ITEM_IMPLEMENT_CODE          SUPERVISE_ITEM_CODE,
													   left(SUPERVISE_ITEM_IMPLEMENT_CODE, 8) code,
													   CD_HB_SOURCE
												from jg_jgxw_check_action
												group by code, CD_HB_SOURCE) a
												left join jg_jgsx_publish_directory b on a.code = b.MATTER_CODE
									   where b.MATTER_NAME is not null
									   union all
									   select a.SUPERVISE_ITEM_CODE,
											  b.DEPARTMENT_NAME,
											  b.MATTER_NAME,
											  a.num,
											  b.DEPARTMENT_ID,
											  a.CD_HB_SOURCE,
											  a.code
									   from (select count(1)                     num,
													SUPERVISE_ITEM_CODE,
													left(SUPERVISE_ITEM_CODE, 8) code,
													CD_HB_SOURCE
											 from jg_jgxw_force_action
											 group by code, CD_HB_SOURCE) a
												left join jg_jgsx_publish_directory b on a.code = b.MATTER_CODE
									   where b.MATTER_NAME is not null
									   union all
									   select a.SUPERVISE_ITEM_CODE,
											  b.DEPARTMENT_NAME,
											  b.MATTER_NAME,
											  a.num,
											  b.DEPARTMENT_ID,
											  a.CD_HB_SOURCE,
											  a.code
									   from (select count(1)                     num,
													SUPERVISE_ITEM_CODE,
													left(SUPERVISE_ITEM_CODE, 8) code,
													CD_HB_SOURCE
											 from jg_jgxw_other_action
											 group by code, CD_HB_SOURCE) a
												left join jg_jgsx_publish_directory b on a.code = b.MATTER_CODE
									   where b.MATTER_NAME is not null
									   union all
									   select a.SUPERVISE_ITEM_CODE,
											  b.DEPARTMENT_NAME,
											  b.MATTER_NAME,
											  a.num,
											  b.DEPARTMENT_ID,
											  a.CD_HB_SOURCE,
											  a.code
									   from (select count(1)                     num,
													SUPERVISE_ITEM_CODE,
													left(SUPERVISE_ITEM_CODE, 8) code,
													CD_HB_SOURCE
											 from jg_jgxw_punish_action
											 group by code, CD_HB_SOURCE) a
												left join jg_jgsx_publish_directory b on a.code = b.MATTER_CODE
									   where b.MATTER_NAME is not null) tt
									   left join t_org_code aa on tt.CD_HB_SOURCE = aa.CD_HB_SOURCE
						  ) t
						  on a.name = t.ORG_NAME and a.sx = t.MATTER_NAME
					 where t.ORG_NAME is null) mm
			order by mm.name
	</select>

    <select id="getDsGjsxByCity" resultType="com.alibaba.fastjson.JSONObject" parameterType="java.util.List">
        select t.* from
        <foreach item="item" index="index" collection="list" separator="union all" open="(" close=")">
            select a.SUPERVISE_ITEM_CODE,b.DEPARTMENT_NAME,b.MATTER_NAME,a.num from
            (select count(1) num,
            <if test="item.table_name == 'jg_jgxw_check_action'.toString()">SUPERVISE_ITEM_IMPLEMENT_CODE</if> SUPERVISE_ITEM_CODE,
            left(
            <if test="item.table_name == 'jg_jgxw_check_action'.toString()">SUPERVISE_ITEM_IMPLEMENT_CODE</if>
            <if test="item.table_name != 'jg_jgxw_check_action'.toString()">SUPERVISE_ITEM_CODE</if>,8) code
            from ${item.table_schema}.${item.table_name}  group by
            <if test="item.table_name == 'jg_jgxw_check_action'.toString()">SUPERVISE_ITEM_IMPLEMENT_CODE</if>
            <if test="item.table_name != 'jg_jgxw_check_action'.toString()">SUPERVISE_ITEM_CODE</if>
            ) a
            left join jg_xfk.jg_jgsx_publish_directory b on a.code = b.MATTER_CODE
            where b.MATTER_NAME is not null
        </foreach>
        t order by t.num desc
    </select>


    <select id="getSzJgsxZyfgl" resultType="com.alibaba.fastjson.JSONObject">
		SELECT department_id,E.province,IFNULL(sbjsl_fz,0) sbjsl_fz,IFNULL(sbjsl_fm,0) sbjsl_fm,sx AS sx_fz,E.fgl_fm,CASE WHEN sx>0 THEN sx/E.fgl_fm  ELSE 0 END AS jgsx_fgl,IFNULL(F.sbsj,0) AS jgsx_jsl FROM
		(SELECT  A.department_id,A.fgl_fm,A.province,COUNT(B.SUPERVISE_ITEM_CODE) sx FROM
		(SELECT province,department_id,CD_HU_SOURCE,fgl_fm FROM test.`depart` WHERE city ='省直')A LEFT JOIN
		(SELECT SUPERVISE_ITEM_CODE ,CD_HB_SOURCE FROM
		(SELECT LEFT(SUPERVISE_ITEM_IMPLEMENT_CODE,8) SUPERVISE_ITEM_CODE,CD_HB_SOURCE  FROM `jg_jgxw_check_action`
		 UNION ALL
		SELECT LEFT(SUPERVISE_ITEM_CODE,8) SUPERVISE_ITEM_CODE,CD_HB_SOURCE   FROM  `jg_jgxw_force_action`
		 UNION ALL
		SELECT LEFT(SUPERVISE_ITEM_CODE,8) SUPERVISE_ITEM_CODE,CD_HB_SOURCE   FROM  `jg_jgxw_punish_action`
		 UNION ALL
		SELECT LEFT(SUPERVISE_ITEM_CODE,8) SUPERVISE_ITEM_CODE,CD_HB_SOURCE   FROM  `jg_jgxw_other_action`)C GROUP BY CD_HB_SOURCE,SUPERVISE_ITEM_CODE)B
		ON A.CD_HU_SOURCE=B.CD_HB_SOURCE
		 AND B.SUPERVISE_ITEM_CODE !='无'  AND B.SUPERVISE_ITEM_CODE IS NOT NULL
		GROUP BY A.province,A.department_id  )E LEFT JOIN
		 (SELECT   B.province,COUNT(*) sbjsl_fz,SUM(sbsj) sbjsl_fm,COUNT(*)/SUM(sbsj) sbsj FROM
		(SELECT CD_HB_SOURCE,sbsj FROM
		(
		SELECT CD_HB_SOURCE,Area_number,TIMESTAMPDIFF(DAY,CHECK_DATE,CD_HB_time)+1 sbsj   FROM `jg_jgxw_check_action`   WHERE  CHECK_DATE> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND  SYSDATE()>CHECK_DATE AND CD_HB_TIME> CHECK_DATE    AND   SUPERVISE_ITEM_IMPLEMENT_CODE !='无'  AND SUPERVISE_ITEM_IMPLEMENT_CODE IS NOT NULL
		 UNION ALL
		SELECT CD_HB_SOURCE,Area_number,TIMESTAMPDIFF(DAY,MANDATORY_DECISION_SEV_DATE,CD_HB_time)+1 sbsj    FROM  `jg_jgxw_force_action`   WHERE  MANDATORY_DECISION_SEV_DATE> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND SYSDATE()>CD_HB_TIME AND CD_HB_TIME>MANDATORY_DECISION_SEV_DATE  AND   SUPERVISE_ITEM_CODE !='无'  AND SUPERVISE_ITEM_CODE IS NOT NULL
		 UNION ALL
		SELECT CD_HB_SOURCE,Area_number,TIMESTAMPDIFF(DAY,set_date,CD_HB_time)+1 sbsj   FROM  `jg_jgxw_punish_action`   WHERE  set_date> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND  SYSDATE()>set_date AND CD_HB_TIME>set_date  AND   SUPERVISE_ITEM_CODE !='无'  AND SUPERVISE_ITEM_CODE IS NOT NULL
		 UNION ALL
		SELECT CD_HB_SOURCE,Area_number,TIMESTAMPDIFF(DAY,START_DATE,CD_HB_time)+1 sbsj   FROM  `jg_jgxw_other_action`   WHERE  START_DATE> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND  SYSDATE()>START_DATE AND   CD_HB_TIME>START_DATE   AND   SUPERVISE_ITEM_CODE !='无'  AND SUPERVISE_ITEM_CODE IS NOT NULL
		UNION ALL
		SELECT CD_HB_SOURCE,cd_source AS Area_number,TIMESTAMPDIFF(DAY,APPRDATE,CD_HB_time)+1 sbsj   FROM  `jg_jgdx_qyjbxx`   WHERE  APPRDATE> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND  SYSDATE()>APPRDATE AND   CD_HB_TIME>APPRDATE
		)C )A,
		(SELECT province,CD_HU_SOURCE FROM test.`depart` WHERE city ='省直')B
		WHERE A.CD_HB_SOURCE=B.CD_HU_SOURCE
		GROUP BY B.province)F
		ON E.province =F.province  ORDER BY  department_id
	</select>

    <select id="getDsJgsxZyfgl" resultType="com.alibaba.fastjson.JSONObject">

	SELECT PROVINCE_CODE,G.province AS city,G.city AS city_fz,G.county AS county_fz,zrr_fz,fr_fz,fgl_fm,fgl_qx_fm,zrr_fm,fr_fm, G.city/fgl_fm AS city_fgl,G.county/fgl_qx_fm AS county_fgl,G.zrr_fz/zrr_fm AS zrr_fgl,G.fr_fz/fr_fm AS fr_fgl,sbjsl_fz,sbjsl_fm,IFNULL(H.sbjsl,0) AS sbjsl  FROM
	(SELECT  PROVINCE_CODE,province,fgl_fm,fgl_qx_fm,zrr_fm,fr_fm,
		SUM(CASE WHEN province=dq AND xzqybm IS NOT NULL THEN SUPERVISE_ITEM_CODE_count ELSE 0 END) city,
		SUM(CASE WHEN province!=dq AND  xzqybm IS NOT NULL THEN SUPERVISE_ITEM_CODE_count ELSE 0 END) county,
		SUM(zrr) AS zrr_fz,SUM(fr) AS fr_fz
		FROM
		(SELECT  A.PROVINCE_CODE,A.province,A.fgl_fm,A.fgl_qx_fm,B.SUPERVISE_ITEM_CODE_count,xzqybm,dq,A.zrr_fm,A.fr_fm,B.zrr,B.fr FROM
		(SELECT PROVINCE_CODE,province,CD_HU_SOURCE,fgl_fm,fgl_qx_fm,zrr_fm,fr_fm FROM test.`depart` WHERE city ='地市')A
		LEFT JOIN
		(SELECT COUNT(SUPERVISE_ITEM_CODE) SUPERVISE_ITEM_CODE_count,SUM(zrr) zrr ,SUM(fr) fr,CD_HB_SOURCE,Area_number FROM  (SELECT SUPERVISE_ITEM_CODE,CD_HB_SOURCE,Area_number,zrr,fr FROM
		(SELECT LEFT(SUPERVISE_ITEM_IMPLEMENT_CODE,8) SUPERVISE_ITEM_CODE,CD_HB_SOURCE,Area_number,SUM(CASE WHEN Administrative_Cp_Ce_Type IN ('001','002','003') THEN  1 ELSE 0 END) fr,COUNT(*)-SUM(CASE WHEN Administrative_Cp_Ce_Type IN ('001','002','003') THEN  1 ELSE 0 END) zrr   FROM `jg_jgxw_check_action`   GROUP BY   LEFT(SUPERVISE_ITEM_CODE,8),CD_HB_SOURCE
		 UNION ALL
		SELECT LEFT(SUPERVISE_ITEM_CODE,8) SUPERVISE_ITEM_CODE,CD_HB_SOURCE,Area_number,SUM(CASE WHEN Administrative_Cp_Ce_Type IN ('001','002','003') THEN  1 ELSE 0 END) fr,COUNT(*)-SUM(CASE WHEN Administrative_Cp_Ce_Type IN ('001','002','003') THEN  1 ELSE 0 END) zrr    FROM  `jg_jgxw_force_action`    GROUP BY   LEFT(SUPERVISE_ITEM_CODE,8),CD_HB_SOURCE
		 UNION ALL
		SELECT LEFT(SUPERVISE_ITEM_CODE,8) SUPERVISE_ITEM_CODE,CD_HB_SOURCE,Area_number,SUM(CASE WHEN Administrative_Cp_Ce_Type IN ('001','002','003') THEN  1 ELSE 0 END) fr,COUNT(*)-SUM(CASE WHEN Administrative_Cp_Ce_Type IN ('001','002','003') THEN  1 ELSE 0 END) zrr    FROM  `jg_jgxw_punish_action`   GROUP BY   LEFT(SUPERVISE_ITEM_CODE,8),CD_HB_SOURCE
		 UNION ALL
		SELECT LEFT(SUPERVISE_ITEM_CODE,8) SUPERVISE_ITEM_CODE,CD_HB_SOURCE,Area_number,SUM(CASE WHEN Administrative_Cp_Ce_Type IN ('001','002','003') THEN  1 ELSE 0 END) fr,COUNT(*)-SUM(CASE WHEN Administrative_Cp_Ce_Type IN ('001','002','003') THEN  1 ELSE 0 END) zrr   FROM  `jg_jgxw_other_action`  GROUP BY   LEFT(SUPERVISE_ITEM_CODE,8),CD_HB_SOURCE
		)D WHERE     SUPERVISE_ITEM_CODE !='无'  AND SUPERVISE_ITEM_CODE IS NOT NULL GROUP BY SUPERVISE_ITEM_CODE,CD_HB_SOURCE)E GROUP BY CD_HB_SOURCE,Area_number)B
		ON A.CD_HU_SOURCE =B.CD_HB_SOURCE
		LEFT JOIN
		(SELECT xzqybm,dq FROM test.`table_qybm` WHERE xzqybm LIKE'42%')C
		ON C.xzqybm=B.Area_number
		GROUP BY A.province,C.xzqybm,c.dq )F GROUP BY PROVINCE_CODE,province,fgl_fm,fgl_qx_fm,zrr_fm,fr_fm)G
		 LEFT JOIN
		(SELECT  B.province,COUNT(*) sbjsl_fz,SUM(sbsj) sbjsl_fm,COUNT(*)/SUM(sbsj) sbjsl FROM

		(SELECT CD_HB_SOURCE,Area_number,TIMESTAMPDIFF(DAY,CHECK_DATE,CD_HB_time)+1 sbsj   FROM `jg_jgxw_check_action`   WHERE  CHECK_DATE> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND  SYSDATE()>CHECK_DATE AND CD_HB_TIME> CHECK_DATE  AND   SUPERVISE_ITEM_IMPLEMENT_CODE !='无'  AND SUPERVISE_ITEM_IMPLEMENT_CODE IS NOT NULL
		 UNION ALL
		SELECT CD_HB_SOURCE,Area_number,TIMESTAMPDIFF(DAY,MANDATORY_DECISION_SEV_DATE,CD_HB_time)+1 sbsj    FROM  `jg_jgxw_force_action`   WHERE  MANDATORY_DECISION_SEV_DATE> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND SYSDATE()>CD_HB_TIME AND CD_HB_TIME>MANDATORY_DECISION_SEV_DATE  AND   SUPERVISE_ITEM_CODE !='无'  AND SUPERVISE_ITEM_CODE IS NOT NULL
		 UNION ALL
		SELECT CD_HB_SOURCE,Area_number,TIMESTAMPDIFF(DAY,set_date,CD_HB_time)+1 sbsj   FROM  `jg_jgxw_punish_action`   WHERE  set_date> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND  SYSDATE()>set_date AND CD_HB_TIME>set_date   AND   SUPERVISE_ITEM_CODE !='无'  AND SUPERVISE_ITEM_CODE IS NOT NULL
		 UNION ALL
		SELECT CD_HB_SOURCE,Area_number,TIMESTAMPDIFF(DAY,START_DATE,CD_HB_time)+1 sbsj   FROM  `jg_jgxw_other_action`   WHERE  START_DATE> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND  SYSDATE()>START_DATE AND   CD_HB_TIME>START_DATE    AND   SUPERVISE_ITEM_CODE !='无'  AND SUPERVISE_ITEM_CODE IS NOT NULL
		UNION ALL
		SELECT CD_HB_SOURCE,cd_source AS Area_number,TIMESTAMPDIFF(DAY,APPRDATE,CD_HB_time)+1 sbsj   FROM  `jg_jgdx_qyjbxx`   WHERE  APPRDATE> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND  SYSDATE()>APPRDATE AND   CD_HB_TIME>APPRDATE
		)A,
		(SELECT province,CD_HU_SOURCE FROM test.`depart` WHERE city ='地市')B,
		(SELECT xzqybm,dq FROM test.`table_qybm` WHERE xzqybm LIKE'42%')C
		WHERE A.CD_HB_SOURCE=B.CD_HU_SOURCE  AND C.xzqybm=A.Area_number
		GROUP BY B.province)H
		ON G.province =H.province ORDER BY  PROVINCE_CODE

	</select>


    <select id="getSzJgsxZyfglZq" resultType="com.alibaba.fastjson.JSONObject">
			SELECT department_id,E.province,IFNULL(sbjsl_fz,0) sbjsl_fz,IFNULL(sbjsl_fm,0) sbjsl_fm,sx AS sx_fz,E.fgl_fm,CASE WHEN sx>0 THEN sx/E.fgl_fm  ELSE 0 END AS jgsx_fgl,IFNULL(F.sbsj,0) AS jgsx_jsl FROM
		(SELECT  A.department_id,A.fgl_fm,A.province,COUNT(B.SUPERVISE_ITEM_CODE) sx FROM
		(SELECT province,department_id,CD_HU_SOURCE,fgl_fm FROM test.`depart` WHERE city ='省直')A LEFT JOIN
		(SELECT SUPERVISE_ITEM_CODE ,CD_HB_SOURCE FROM
		(SELECT LEFT(SUPERVISE_ITEM_IMPLEMENT_CODE,8) SUPERVISE_ITEM_CODE,CD_HB_SOURCE  FROM `jg_jgxw_check_action`
		 UNION ALL
		SELECT LEFT(SUPERVISE_ITEM_CODE,8) SUPERVISE_ITEM_CODE,CD_HB_SOURCE   FROM  `jg_jgxw_force_action`
		 UNION ALL
		SELECT LEFT(SUPERVISE_ITEM_CODE,8) SUPERVISE_ITEM_CODE,CD_HB_SOURCE   FROM  `jg_jgxw_punish_action`
		 UNION ALL
		SELECT LEFT(SUPERVISE_ITEM_CODE,8) SUPERVISE_ITEM_CODE,CD_HB_SOURCE   FROM  `jg_jgxw_other_action`)C GROUP BY CD_HB_SOURCE,SUPERVISE_ITEM_CODE)B
		ON A.CD_HU_SOURCE=B.CD_HB_SOURCE
		 AND B.SUPERVISE_ITEM_CODE !='无'  AND B.SUPERVISE_ITEM_CODE IS NOT NULL
		GROUP BY A.province,A.department_id  )E LEFT JOIN
		 (SELECT   B.province,COUNT(*) sbjsl_fz,SUM(sbsj) sbjsl_fm,COUNT(*)/SUM(sbsj) sbsj FROM
		(SELECT CD_HB_SOURCE,sbsj FROM
		(
		SELECT CD_HB_SOURCE,Area_number,TIMESTAMPDIFF(DAY,CHECK_DATE,CD_HB_time)+1 sbsj   FROM `jg_jgxw_check_action`   WHERE  CHECK_DATE> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND  SYSDATE()>CHECK_DATE AND CD_HB_TIME> CHECK_DATE    AND   SUPERVISE_ITEM_IMPLEMENT_CODE !='无'  AND SUPERVISE_ITEM_IMPLEMENT_CODE IS NOT NULL
		 UNION ALL
		SELECT CD_HB_SOURCE,Area_number,TIMESTAMPDIFF(DAY,MANDATORY_DECISION_SEV_DATE,CD_HB_time)+1 sbsj    FROM  `jg_jgxw_force_action`   WHERE  MANDATORY_DECISION_SEV_DATE> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND SYSDATE()>CD_HB_TIME AND CD_HB_TIME>MANDATORY_DECISION_SEV_DATE  AND   SUPERVISE_ITEM_CODE !='无'  AND SUPERVISE_ITEM_CODE IS NOT NULL
		 UNION ALL
		SELECT CD_HB_SOURCE,Area_number,TIMESTAMPDIFF(DAY,set_date,CD_HB_time)+1 sbsj   FROM  `jg_jgxw_punish_action`   WHERE  set_date> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND  SYSDATE()>set_date AND CD_HB_TIME>set_date  AND   SUPERVISE_ITEM_CODE !='无'  AND SUPERVISE_ITEM_CODE IS NOT NULL
		 UNION ALL
		SELECT CD_HB_SOURCE,Area_number,TIMESTAMPDIFF(DAY,START_DATE,CD_HB_time)+1 sbsj   FROM  `jg_jgxw_other_action`   WHERE  START_DATE> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND  SYSDATE()>START_DATE AND   CD_HB_TIME>START_DATE   AND   SUPERVISE_ITEM_CODE !='无'  AND SUPERVISE_ITEM_CODE IS NOT NULL
		UNION ALL
		SELECT CD_HB_SOURCE,cd_source AS Area_number,TIMESTAMPDIFF(DAY,APPRDATE,CD_HB_time)+1 sbsj   FROM  `jg_jgdx_qyjbxx`   WHERE  APPRDATE> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND  SYSDATE()>APPRDATE AND   CD_HB_TIME>APPRDATE
		)C )A,
		(SELECT province,CD_HU_SOURCE FROM test.`depart` WHERE city ='省直')B
		WHERE A.CD_HB_SOURCE=B.CD_HU_SOURCE
		GROUP BY B.province)F
		ON E.province =F.province  ORDER BY  department_id

	</select>

    <select id="getDsJgsxZyfglZq" resultType="com.alibaba.fastjson.JSONObject">
	SELECT PROVINCE_CODE,G.province AS city,G.city AS city_fz,G.county AS county_fz,zrr_fz,fr_fz,fgl_fm,fgl_qx_fm,zrr_fm,fr_fm, G.city/fgl_fm AS city_fgl,G.county/fgl_qx_fm AS county_fgl,G.zrr_fz/zrr_fm AS zrr_fgl,G.fr_fz/fr_fm AS fr_fgl,sbjsl_fz,sbjsl_fm,IFNULL(H.sbjsl,0) AS sbjsl  FROM
	(SELECT  PROVINCE_CODE,province,fgl_fm,fgl_qx_fm,zrr_fm,fr_fm,
		SUM(CASE WHEN province=dq AND xzqybm IS NOT NULL THEN SUPERVISE_ITEM_CODE_count ELSE 0 END) city,
		SUM(CASE WHEN province!=dq AND  xzqybm IS NOT NULL THEN SUPERVISE_ITEM_CODE_count ELSE 0 END) county,
		SUM(zrr) AS zrr_fz,SUM(fr) AS fr_fz
		FROM
		(SELECT  A.PROVINCE_CODE,A.province,A.fgl_fm,A.fgl_qx_fm,B.SUPERVISE_ITEM_CODE_count,xzqybm,dq,A.zrr_fm,A.fr_fm,B.zrr,B.fr FROM
		(SELECT PROVINCE_CODE,province,CD_HU_SOURCE,fgl_fm,fgl_qx_fm,zrr_fm,fr_fm FROM test.`depart` WHERE city ='地市')A
		LEFT JOIN
		(SELECT COUNT(SUPERVISE_ITEM_CODE) SUPERVISE_ITEM_CODE_count,SUM(zrr) zrr ,SUM(fr) fr,CD_HB_SOURCE,Area_number FROM  (SELECT SUPERVISE_ITEM_CODE,CD_HB_SOURCE,Area_number,zrr,fr FROM
		(SELECT LEFT(SUPERVISE_ITEM_IMPLEMENT_CODE,8) SUPERVISE_ITEM_CODE,CD_HB_SOURCE,Area_number,SUM(CASE WHEN Administrative_Cp_Ce_Type IN ('001','002','003') THEN  1 ELSE 0 END) fr,COUNT(*)-SUM(CASE WHEN Administrative_Cp_Ce_Type IN ('001','002','003') THEN  1 ELSE 0 END) zrr   FROM `jg_jgxw_check_action`   GROUP BY   LEFT(SUPERVISE_ITEM_CODE,8),CD_HB_SOURCE
		 UNION ALL
		SELECT LEFT(SUPERVISE_ITEM_CODE,8) SUPERVISE_ITEM_CODE,CD_HB_SOURCE,Area_number,SUM(CASE WHEN Administrative_Cp_Ce_Type IN ('001','002','003') THEN  1 ELSE 0 END) fr,COUNT(*)-SUM(CASE WHEN Administrative_Cp_Ce_Type IN ('001','002','003') THEN  1 ELSE 0 END) zrr    FROM  `jg_jgxw_force_action`    GROUP BY   LEFT(SUPERVISE_ITEM_CODE,8),CD_HB_SOURCE
		 UNION ALL
		SELECT LEFT(SUPERVISE_ITEM_CODE,8) SUPERVISE_ITEM_CODE,CD_HB_SOURCE,Area_number,SUM(CASE WHEN Administrative_Cp_Ce_Type IN ('001','002','003') THEN  1 ELSE 0 END) fr,COUNT(*)-SUM(CASE WHEN Administrative_Cp_Ce_Type IN ('001','002','003') THEN  1 ELSE 0 END) zrr    FROM  `jg_jgxw_punish_action`   GROUP BY   LEFT(SUPERVISE_ITEM_CODE,8),CD_HB_SOURCE
		 UNION ALL
		SELECT LEFT(SUPERVISE_ITEM_CODE,8) SUPERVISE_ITEM_CODE,CD_HB_SOURCE,Area_number,SUM(CASE WHEN Administrative_Cp_Ce_Type IN ('001','002','003') THEN  1 ELSE 0 END) fr,COUNT(*)-SUM(CASE WHEN Administrative_Cp_Ce_Type IN ('001','002','003') THEN  1 ELSE 0 END) zrr   FROM  `jg_jgxw_other_action`  GROUP BY   LEFT(SUPERVISE_ITEM_CODE,8),CD_HB_SOURCE
		)D WHERE     SUPERVISE_ITEM_CODE !='无'  AND SUPERVISE_ITEM_CODE IS NOT NULL GROUP BY SUPERVISE_ITEM_CODE,CD_HB_SOURCE)E GROUP BY CD_HB_SOURCE,Area_number)B
		ON A.CD_HU_SOURCE =B.CD_HB_SOURCE
		LEFT JOIN
		(SELECT xzqybm,dq FROM test.`table_qybm` WHERE xzqybm LIKE'42%')C
		ON C.xzqybm=B.Area_number
		GROUP BY A.province,C.xzqybm,c.dq )F GROUP BY PROVINCE_CODE,province,fgl_fm,fgl_qx_fm,zrr_fm,fr_fm)G
		 LEFT JOIN
		(SELECT  B.province,COUNT(*) sbjsl_fz,SUM(sbsj) sbjsl_fm,COUNT(*)/SUM(sbsj) sbjsl FROM

		(SELECT CD_HB_SOURCE,Area_number,TIMESTAMPDIFF(DAY,CHECK_DATE,CD_HB_time)+1 sbsj   FROM `jg_jgxw_check_action`   WHERE  CHECK_DATE> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND  SYSDATE()>CHECK_DATE AND CD_HB_TIME> CHECK_DATE  AND   SUPERVISE_ITEM_IMPLEMENT_CODE !='无'  AND SUPERVISE_ITEM_IMPLEMENT_CODE IS NOT NULL
		 UNION ALL
		SELECT CD_HB_SOURCE,Area_number,TIMESTAMPDIFF(DAY,MANDATORY_DECISION_SEV_DATE,CD_HB_time)+1 sbsj    FROM  `jg_jgxw_force_action`   WHERE  MANDATORY_DECISION_SEV_DATE> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND SYSDATE()>CD_HB_TIME AND CD_HB_TIME>MANDATORY_DECISION_SEV_DATE  AND   SUPERVISE_ITEM_CODE !='无'  AND SUPERVISE_ITEM_CODE IS NOT NULL
		 UNION ALL
		SELECT CD_HB_SOURCE,Area_number,TIMESTAMPDIFF(DAY,set_date,CD_HB_time)+1 sbsj   FROM  `jg_jgxw_punish_action`   WHERE  set_date> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND  SYSDATE()>set_date AND CD_HB_TIME>set_date   AND   SUPERVISE_ITEM_CODE !='无'  AND SUPERVISE_ITEM_CODE IS NOT NULL
		 UNION ALL
		SELECT CD_HB_SOURCE,Area_number,TIMESTAMPDIFF(DAY,START_DATE,CD_HB_time)+1 sbsj   FROM  `jg_jgxw_other_action`   WHERE  START_DATE> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND  SYSDATE()>START_DATE AND   CD_HB_TIME>START_DATE    AND   SUPERVISE_ITEM_CODE !='无'  AND SUPERVISE_ITEM_CODE IS NOT NULL
		UNION ALL
		SELECT CD_HB_SOURCE,cd_source AS Area_number,TIMESTAMPDIFF(DAY,APPRDATE,CD_HB_time)+1 sbsj   FROM  `jg_jgdx_qyjbxx`   WHERE  APPRDATE> TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE()) + 1 DAY)) AND  SYSDATE()>APPRDATE AND   CD_HB_TIME>APPRDATE
		)A,
		(SELECT province,CD_HU_SOURCE FROM test.`depart` WHERE city ='地市')B,
		(SELECT xzqybm,dq FROM test.`table_qybm` WHERE xzqybm LIKE'42%')C
		WHERE A.CD_HB_SOURCE=B.CD_HU_SOURCE  AND C.xzqybm=A.Area_number
		GROUP BY B.province)H
		ON G.province =H.province ORDER BY  PROVINCE_CODE

	</select>

    <select id="getZlErrorData" resultType="com.alibaba.fastjson.JSONObject" parameterType="java.lang.String">
		SELECT COUNT(c.cd_lsh) num,table_name,c.error_column,c.msg,D.CD_HB_source FROM
		( SELECT DISTINCT A.*,b.table_name FROM
		(SELECT  cd_lsh,error_column,msg FROM  `hbjg_jc_false`.${fdTableName})A,
		(SELECT cd_lsh,table_name FROM `hbjg_jc_false`.${fiTableName})B
		WHERE A.cd_lsh = B.cd_lsh)C,
		(SELECT * FROM  `hbjg_hj_all`.${hjTableName})D
		WHERE C.cd_lsh =D.cd_lsh  GROUP BY  table_name,c.error_column,c.msg,D.CD_HB_source ORDER BY  CD_HB_source,msg
	</select>

    <select id="getExistTablesInErrorDB" resultType="com.alibaba.fastjson.JSONObject">
		select table_name from information_schema.`TABLES` where table_schema='hbjg_jc_false' and table_type='BASE TABLE' and  table_name REGEXP '_fd|_fi'
	</select>


    <select id="getHJTableInfos" resultType="com.alibaba.fastjson.JSONObject">
		select a.table_schema,a.table_name ,a.table_comment
		from information_schema.tables a
		where a.table_schema = 'hbjg_hj_basic_all'
		and a.TABLE_NAME != 'dn_data_reconciliation' and a.TABLE_NAME != 'up_data_reconciliation'
		and a.TABLE_NAME != 't_org_code' and a.TABLE_NAME != 'depart' and a.TABLE_NAME != 'table_jgsx'
		and a.TABLE_NAME not REGEXP '[0,9]+|_cp|_copy'
	</select>

</mapper>